@font-face {
    font-family: "Gotham Medium";
    src: url(../fonts/GothamMediumRegular.ttf);
    src: url(../fonts/gotham-medium-webfont.woff2);
    src: url(../fonts/gotham-medium-webfont.woff);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gotham Bold";
    src: url(../fonts/gothambold1.eot);
    src: url(../fonts/gothambold1.ttf);
    src: url(../fonts/gothambold1.woff);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gotham Book";
    src: url(../fonts/GothamBook.eot);
    src: url(../fonts/GothamBook.ttf);
    src: url(../fonts/GothamBook.woff);
    font-style: normal;
    font-weight: normal;
}